<h1>Resque Queue Status</h1>

<table border="1">
  <thead>
    <tr>
      <th>Queue Name</th>
      <th>pending</th>
      <th>Processed</th>
      <th>Failed</th>
    </tr>
  </thead>
  <tbody>
    <% @queues.each do |queue| %>
      <tr>
        <td><%= queue[:name] %></td>
        <td><%= queue[:pending] %></td>
        <td><%= queue[:processed] %></td>
        <td><%= queue[:failed] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
